@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 17px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #fff;
  /* border: 1px solid #fff; */
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #c1292e;
  border: 1px solid white;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #cfcfcd;
}
